.download {
  @include flex-center;
  flex-direction: column;

  &__title {
    margin-bottom: 12px;
    letter-spacing: 1px;
  }

  &__text {
    max-width: 450px;
    margin-bottom: 62px;
    color: $secondary-text-color;
    text-align: center;
  }

  &__storage {
    @include flex-center;
    gap: 26px;

    &-payment-link {
      width: 166px;
      height: 54px;
    }
  }
}

@include breakpoint($horizontal-mobile) {
  .download {
    &__text {
      opacity: 0.5;
      margin-bottom: 24px;
    }
  }
}
