$primary-background-color: #fff;
$secondary-background-color: #cc5520;

$primary-text-color: #000;
$secondary-text-color: #0f001a;

$mobile: 375px;
$horizontal-mobile: 576px;
$tablet: 768px;
$horizontal-tablet: 992px;
$desktop: 1200px;
